.nav-link.myEdit {
    cursor: pointer;
    font-size: medium;
}
.navbar-brand {
    cursor: pointer;
}
.nav-link.myEdit.active {
    color: #007BFF;
}
.nav-link.myEdit:hover {
    text-decoration: underline;
}
@media (max-width: 992px) {
    .collapse.navbar-collapse a {
        text-align: center;
    }
  }