<div class="container detail-component">
    
    <div class="card w-100" style="width: 18rem;" *ngIf='isVisibleCard'>
      <div class="card-body">
        <h5 class="card-title">{{showBook?.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">{{showBook?.description}}</p>
        <a class="card-link" 
        (click)="isShowedForm = true; isVisibleCard = false">Edit</a>
        
        <a class="card-link" (click)="areYouDeletePost = true; isVisibleCard = false">Delete</a>
        <a class="card-link" (click)="back()">Back</a>
      </div>
    </div>

    <div class="card w-100" style="width: 18rem; margin-top: 1%;" *ngIf="isShowedForm">
      <div class="card-body">
        <form class='edit_post'  [formGroup]='editBook' (ngSubmit)="editPost()">

          <div class="form-group row">
            <label for="title_book" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="title_book" formControlName="title">
            </div>
          </div>
        
          <div class="form-group row">
            <label for="description_book" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="description_book" formControlName="description">
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Save changes</button>
          <button class="btn btn-danger" (click)="isShowedForm = false; isVisibleCard = true">Back</button>
          
        </form>
      </div>
    </div>

    <div class="card w-100" style="width: 18rem; margin-top: 1%;" *ngIf="areYouDeletePost">
      <div class="dupa" style="text-align: center;">
        <div class="card-body">
          <h5 class="card-title">Are you sure?</h5>
          <button type="submit" class="btn btn-success">Yes</button>
          <button class="btn btn-danger" (click)="areYouDeletePost = false; isVisibleCard = true">No</button>
        </div>
      </div>
     
    </div>

</div>
